# Welcome to Python Tutorial

# We will begin with print () function

In [1]:
print ('Hello World This is Musa')

Hello World This is Musa

In [2]:
print ("This is Musa")

This is Musa

In [3]:
print('Musa") # it should be either '' or ""

SyntaxError: EOL while scanning string literal (<ipython-input-3-37a05ff2e1a9>, line 1)

In [4]:
#you can print what ever you want
#note python code is executed line by line
print("oo")
print('|||||')
print('#######')
print("o$$$$$o")
print('|||||')

oo
|||||
#######
o$$$$$o
|||||

In [5]:
#let`s do something cool
print('*' * 5)

*****

In [6]:
print('+' + "*")

+*

In [7]:
print(5+7+3)

15

In [8]:
print('this' + '' + "is" + '' + 'Musa' )

thisisMusa

In [9]:
print('this' + ' ' + "is" + ' ' + 'Musa' )

this is Musa

In [10]:
print("a" % "b")

TypeError: not all arguments converted during string formatting

In [11]:
print(10 % 3)

1

# Variables

In [15]:
#note = is the assigment operator
my_variable=4
print ('my_variable')

my_variable

In [16]:
print(my_variable)

4

In [17]:
x=5
print('x')
print(x)

x
5

In [20]:
# we can update the variables 
my_variable=14
x=15

In [21]:
print(my_variable)
print(x)

14
15

In [32]:
# we can assign floating numbers (numbers with decimals), strings (texts or characters)
#or binary representation (True or False) to variables
y=4.5
z='Musa'

#True represents 1 and False represents 0, we alse call them booleans
is_the_work_done= True # note that Python is a case sensitive language

In [23]:
print(y)

4.5

In [24]:
print(z)

Musa

In [25]:
#click tab inside print function to select long variable names
print(is_the_work_done)

True

In [30]:
print(is_the_work_done==1)  #checking is_the_work_done variable is True

True

In [31]:
print(is_the_work_done==0) #checking is_the_work_done variable is True

False

In [33]:
# True and False special binary representation and case sensitive TRUE FALSE true false do not work

# format() function

* syntax is {}.format(value) and the idea is string formatting in a print function, like str.format()
* allow us to use strings and variables in a print function altogether

In [52]:
a='my name is'
name='Musa'
age=37

In [53]:
print('{} {} and I am {} years old'.format(a,name,age))

my name is Musa and I am 37 years old

In [55]:
str='my name is Musa and I am {} years old'
print(str.format(age))

my name is Musa and I am 37 years old

In [56]:
print('{} and I am {} years old'.format('my name is',age))

my name is and I am 37 years old

# Exercise

* Imagine we will write a simple code for a registrar office

* There is a new student Musa Caglar with age 19 was admitted to Business Analytics program

* We will write a program to check this student is a new or existing student

* Hint: Define three variables for name age and status

In [38]:
name='Musa Caglar'
age=19
is_it_new=True

In [ ]:
#we can make the following with format function

In [47]:
print('{} with {} is a new student?={}'.format(name,age,is_it_new))

Musa Caglar with 19 is a new student?=True

# input() function

In [6]:
name=input('What is your name ')
print('Hello ' + name + ' welcome')

What is your name Musa
Hello Musa welcome

In [7]:
name= input('what is your name ')
color= input('which color do you like? ')

print('{} likes {} color'.format(name,color))

what is your name Musa
which color do you like? blue
Musa likes blue color

In [9]:
print(name + ' likes ' + color + ' color')

Musa likes blue color

# Type Conversion

In [13]:
year_of_birth=input('which year did you born? ')

current_year= input('what is the current year ')

age=current_year-year_of_birth

print (age)

which year did you born? 10
what is the current year 20

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
age=current_year-year_of_birth

print (age)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
year_of_birth=input('which year did you born? ')

current_year= input('what is the current year ')

year_of_birth

which year did you born? 1982
what is the current year 2019

'1982'

In [20]:
current_year

'2019'

In [21]:
#input function takes values as strings
year_of_birth=input('which year did you born? ')

current_year= input('what is the current year ')

#int converts string to number
age=int(current_year)-int(year_of_birth)

print (age)

which year did you born? 1982
what is the current year 2019
37

In [25]:
# float and bool functions

x=8
y=8.9
print(float(x), float (y))

8.0 8.9

In [26]:
#bool function returns True or False

z= True

bool(z)

True

In [27]:
print(bool(z))

True

In [28]:
k=''
bool(k)

False

In [29]:
k='non-empty-string'
bool(k)

True

In [30]:
m=1
bool(m)

True

In [31]:
m=2
bool(m)

True

In [32]:
n=0
bool(n)

False

In [33]:
k1=5
k2=7
bool(k1==k2)

False

In [34]:
k3=10
k4=10
bool(k3==k4)

True

In [35]:
t={}
bool(t)

False

In [36]:
w=[]
bool(w)

False

In [46]:
#we can learn data types by type () function
age_string='1982'
age=1982
print (type(age_string))
print(type(age))

<class 'str'>
<class 'int'>

In [47]:
q=True
w=10.11
print(type(q))
print(type(w))

<class 'bool'>
<class 'float'>

In [53]:
weight= input('What is your weight (in pounds)? ')
#a pound is 0.453 kg
weight_kg=weight*0.453
print('your weight is {} kg'.format(weight_kg))

What is your weight (in pounds)? 164

TypeError: can't multiply sequence by non-int of type 'float'

In [54]:
# do not forget conversion of input function strings by int() function
weight= input('What is your weight (in pounds)? ')
#a pound is 0.453 kg
weight_kg=int(weight)*0.453
print('your weight is {} kg'.format(weight_kg))

What is your weight (in pounds)? 164
your weight is 74.292 kg

# Strings

In [55]:
#we can use apostrophe or single quotes for string assigments
x="Musa"
y='Musa'

print(x,y)

Musa Musa

In [58]:
# there are some exceptions
course='Musa's Python tutorial '
print(course)

SyntaxError: invalid syntax (<ipython-input-58-3a6f3b94b7b3>, line 1)

In [59]:
course="Musa's Python tutorial"
print(course)

Musa's Python tutorial

In [62]:
# there are some exceptions
course="Python" tutorial"
print(course)

SyntaxError: invalid syntax (<ipython-input-62-10e8f5b66baa>, line 2)

In [64]:
course='"Python" tutorial'
print(course)

"Python" tutorial

In [67]:
#what about long strings like texts emails etc?

#we can use triple single quotes or apostrophes
#hint: press to ' or " key exactly three times
email=''' 

Hi there,

I hope your python tutorial goes well

Thanks
'''
print(email)

Hi there,

I hope your python tutorial goes well

Thanks

In [68]:
email="""

Hi there,

I hope your python tutorial goes well

Thanks
"""
print(email)

Hi there,

I hope your python tutorial goes well

Thanks

In [69]:
#index of a string to pull out some characters
course='Python Tutorial'
       #0123456789

In [70]:
course[0]

'P'

In [71]:
print(course[0]) # we pulled out the first character of the string

P

In [72]:
print(course[0],course[1],course[2],course[3],course[4],course[5])

P y t h o n

In [73]:
course[0],course[1],course[2],course[3],course[4],course[5]

('P', 'y', 't', 'h', 'o', 'n')

In [74]:
print(course[2])

t

In [75]:
#we can also use negatif index
print(course[-1]) # the last element in the string

l

In [76]:
print(course[-8],course[-7],course[-6],course[-5],course[-4])

T u t o r

In [81]:
#String slicing
print(course[0:6]) # show all the indexes up to 7th but not the 7th one

Python

In [82]:
course[0:7] # note there is a space

'Python '

In [78]:
#default end index is the last element of the string
print(course[0:])

Python Tutorial

In [85]:
print(course[7:]) # show begining from the 7th element

Tutorial

In [86]:
#default beginning index is the first element of the string, which is index 0
print(course[:6])

Python

In [88]:
#defaults work
print(course[:])

Python Tutorial

In [89]:
copied_name=course[:]
print(copied_name)

Python Tutorial

In [91]:
string_name="interesting"
print(string_name[1:-1]) #show the elements beginning from index 1 up to the all elements except the last one

nterestin

# Formatted Strings

In [94]:
first='Barack'
last='Obama'
#assume we want to print something like Former president was Barack [Obama]
name= 'Former president was ' + first + ' [' + last + ']'
print(name)

Former president was Barack [Obama]

In [96]:
#When the text gets larger + (concenate or combine) operator is hard to follow through
# we will use formatted text: f'', inside '' we can type any string and use {} for variables
first='Barack'
last='Obama'
#assume we want to print something like Former president was Barack [Obama]
formatted_name=f'Former president was {first} [{last}]'
print(formatted_name)

Former president was Barack [Obama]

# String Methods

In [111]:
#len() function counts # of characters (items) in a string (list)
first='mUSA'
print(len(first))

4

In [106]:
#in python everthing is object and functions that belongs to objects are called as methods
#so, string is an object we can get access to all methods by typing .and tab after object name
#this is object oriented programming paradigm
#we also write objects (i.e. classes or templates) from scratch
#note that there are many built-in objects in the python 
#and we use some methods (i.e. functions) specific to objects to do some tasks
first.upper()

'MUSA'

In [112]:
print(first.upper())

MUSA

In [113]:
first.upper

In [114]:
first.capitalize()

'Musa'

In [116]:
#string methods do not change original string, they create formatted strings
print(first)
print(first.upper())
print(first.lower())

mUSA
MUSA
musa

In [117]:
#find method
#lets find which index is the U in the string
print(first.find('U'))

1

In [122]:
#find() method (i.e. function specific to string objects) is case sensitive
name='Barack OBAMA'
print(name.find('a'))
print(name.find('A'))
print(name.find('z')) #return -1 meaning it is not available
print(name.find('OBAMA'))

1
9
-1
7

In [123]:
#replace method
print(name.replace('Barack','Barack Hussein'))

Barack Hussein OBAMA

In [125]:
print(name)
print(name.replace('Barack','Barack Hussein'))

Barack OBAMA
Barack Hussein OBAMA

In [127]:
#replace is case sensitive
print(name)
print(name.replace('barack','Barack Hussein')) #cannot find barack in the string

Barack OBAMA
Barack OBAMA

In [128]:
first='Musa'
print(first.replace('M',''))

usa

In [130]:
first1=first.replace('M','')
print(first1.upper())

USA

In [132]:
first1=first.replace('M','T')
print(first1.lower())

tusa

In [134]:
# checking a set of characters in a string with in, returns booleans (i.e. True or False)
name= 'Barack Obama'
print('Barack' in name)

True

In [135]:
print('barack' in name) # case sensitive

False

In [138]:
name='jr adam smith '
name.title() # to capitalize the first letter of every word

'Jr Adam Smith '

# Arithmetic Operations

In [139]:
print(4+2)
print(4-2)
print(4*2)
print(4/2)

6
2
8
2.0

In [141]:
print(9/4) #returns floats
print(9//4) #returns integer

2.25
2

In [142]:
#modulus  returns the remainder of division
print(9%4)

1

In [143]:
#exponent
print(3**4)

81

In [145]:
x=20
x=x+10
print(x)

#Augmented Assigment Operator
x+=10
print(x)

30
40

In [146]:
x-=5
print(x)

35

In [147]:
x-=5
x*=3
print(x)

90

# Operator Precedence

1. parenthesis
2. exponentiation
3. multiplication or division
4. addition or subtraction

In [148]:
x=20 + 5 * 6
print(x)

50

In [151]:
y=(10 + 5) * 4 - 2**3
print(y)

52

In [152]:
z= 5+3*4**2
print(z)

53

In [153]:
z= 5+(3*4)**2
print(z)

149

# Math Functions

In [154]:
x=3.8
print(round(x))

4

In [155]:
a=-3.8
print(abs(a))

3.8

In [159]:
#math module

import math

print(math.ceil(-a))
print(math.floor(a))

4
-4

In [160]:
# you can look math module at https://docs.python.org/3/library/math.html

f=5
math.factorial(f) # 5!

120

In [161]:
math.log10(2*f)

1.0

In [167]:
print(math.cos(math.pi/3))

0.5000000000000001

In [168]:
print(math.asin(0.5)*math.pi)

1.6449340668482266

In [169]:
z=25
math.sqrt(z)

5.0